<div class="hatter">
<div class="loginful">
    <h1>Bejelentkezés</h1>
    @if(showLoginForm){
        <form (ngSubmit)="login()" class="login-form">
            <mat-form-field class="hatter">
                <mat-label>Email</mat-label>
                <input matInput type="email" [formControl]="email" placeholder="valami@gmail.com">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="hatter">
                <mat-label>Jelszó</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="password" />
                <button
                type="button"
                  mat-icon-button
                  matSuffix
                  (click)="clickEvent($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()"
                >
                  <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            @if(loginError){
                <div class="error-message">
                    {{loginError}}
                </div>
            }
                <button class="gomb1" mat-flat-button type="submit">Bejelentkezés</button>
                <button class="gomb2" mat-flat-button [routerLink]="['/register']">Regisztráció</button>
            
        </form>
    }
    </div>
</div>
  