.loginful{
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
    height: 100%;
    background-color: white;
}



h1{
    margin-bottom: 20px;
    color: orange;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error-message{
    color: red;
    margin-bottom: 16px;
}

.betoltes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

h2{
    margin-bottom: 20px;
    color: blue;
}

p{
    margin-top: 20px;
    font-size: 16px;
}

.gomb1{
    background-color: orange !important;
    border-radius: 10px;
    color: white !important;
}

.gomb2{
    background-color: orange !important;
    border-radius: 10px;
    color: white !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: gray !important;
}